// Colors
$main-color: #9E1E62;
$second-color: #262261;
$accent: #EFEFEF;
$grey: #707070;
$body: #535659;

// Width
$max-well: 1800px;
$well: 1200px;
$contentwell: 800px;

// Breakpoints
$mobile-size: 680px;